@mixin blacknredcolor() {
  /* @include blacknredcolor(); */
  color: #ff0000;
  background-color: #000;
}

.error {color: #ffffff; transition-duration: 0.4s; background-color: #000;}
.error-noh{@include blacknredcolor();}
.error:hover{@include blacknredcolor();}

.space {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.flloat-left{
    float: left;
}

input[type=number] {
  transition-duration: 0.4s;
  border: 3px solid #4CAF50;
  color: white;
  border-radius: 999px;
  background-color: black;
}
input[type=number]:focus {
  border: 3x solid #4CAF50;
  @include blacknredcolor();
}
input[type=number]:hover{
  border: 3px solid #4CAF50;
  @include blacknredcolor();
}

input[type=text] {
  transition-duration: 0.4s;
  border: 3px solid #4CAF50;
  color: white;
  border-radius: 999px;
  background-color: black;
}
input[type=text]:focus {
  border: 3x solid #4CAF50;
  @include blacknredcolor();
}
input[type=text]:hover{
  border: 3px solid #4CAF50;
  @include blacknredcolor();
}

body{
    font-family: Arial, Helvetica, sans-serif, 'Tangerine', "Lucida Console", "Courier New", monospace; 
    margin: auto;
}
hr{
  color: blue;
  background-color: blue;
}
/* latin */
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/tangerine/v12/IurY6Y5j_oScZZow4VOxCZZM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.button {
    border-radius: 999px;
    color: white;
    background-color: black;
    border: 2px solid #4CAF50; /* Green */
    transition-duration: 0.4s;
}
.button:hover {
  border-radius: 999px;
  @include blacknredcolor();
}

.backbtn{
    border-radius: 999px;
    @include blacknredcolor();
    border: 2px solid #4CAF50; /* Green */
    transition-duration: 0.4s;
}

.tangerine{
  font-family: 'Tangerine';
  font-size: 48px;
  
}

.tangerine-blacknred{
  font-family: 'Tangerine';
  font-size: 48px;
  @include blacknredcolor();
}

.black{color: black;}
.green{color:green;}
.redonblack{@include blacknredcolor();}
.red{color:red;}